.navbar-custom {
  background-color: #1D308E;
  position: fixed !important;
  width: 100%;
  z-index: 999;
  
}

.text-custom {
  color: #FFFF;
  font-size: 12px !important;
  text-transform: capitalize !important;
  
}

.bg-custom {
  background-color: #1D308E;
}

.navbar-dark .navbar-toggler {
  border-color: #1D308E;
}


.PULSE {
  /* Chrome, Safari, Opera */
 -webkit-animation: PULSE 1s infinite; 
 
 /* Internet Explorer */
 -ms-animation: PULSE 1s infinite;
 
 /* Standard Syntax */
 animation: PULSE 1.25s infinite; 
}

/* Chrome, Safari, Opera */
@-webkit-keyframes PULSE{
  0%{color:rgb(173, 166, 173);}	
 110%{color: white;}
}

/* Internet Explorer */
@-ms-keyframes PULSE{
 0%{color:rgb(126, 201, 219);}	
 110%{color: white;}
}

/* Standard Syntax */
@keyframes PULSE{
 0%{color:rgb(255, 255, 255);}	
 110%{color: black;}
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 4rem !important;
  padding-left: 0rem;
}

.flags-i18n {
  border-radius: 5px;
}

.dropdown-menu {
  min-width: 3rem !important;
  padding-top:15px !important;
  padding-bottom:15px !important;
}

.dropdown-item:focus, .dropdown-item:hover {
  border-radius: 8px !important;
}

#iconWorld {
  margin-top:-3px;
}

.navbar-expand-lg .navbar-collapse {
  justify-content: flex-end;
}