#bttnMoreFilters {
  color:black;
  background-color: #f4f3ef !important;

}

/* .accordion-button.collapsed,
.accordion-item {
  background-color: #f4f3ef !important;
  
} */

#accordionFilterBttn {
  background-color: #f4f3ef !important;
}



@media screen and (max-width:767px)  {

  #FiltersInDesktop {
    display: none;
  }

  #ReportInformationDesktop {
    display:none;
  }

  /* .input[type="text"], input[type="number"] {
    border-radius: 17px;
    border: 1px solid white;
    color: black;
    width: 128px;
    height: 36px;
    padding-left: 20px;
    font-size: 10px;
    cursor: pointer;
    margin-top: 2px;
    box-shadow: 0 6px 10px -4px rgb(0 0 0 / 15%);
} */
} 

#bttnGeneral {
  width: 110px !important; 
  height: 38px !important;
}

@media screen and (min-width:768px) {


  #FiltersInMobile {
    display:none;
  }

  #ReportInformationMobile {
    display: none;
  }

}