#bttnMoreFilters {
  color:black;
  background-color: #f4f3ef !important;

}
#colReportDatosGenerales,
  #colReportClientExperience,
  #colReportOrderProcessing,
  #colReportOrderFulfillment {
    width: 100% !important;

  }

.card {
  box-shadow: unset !important;
}

#accordionFilterBttn {
  background-color: #f4f3ef !important;
}
#bttnGeneral {

  border-radius: 17px !important;
}

#bttnGeneral:hover {
  background-color: #06cbc1 !important;
  color: #FFFF !important;
}

.titlesInfoCard {
  margin-bottom: 0px;
}

/* #contentAreaPrint {
  display:none;
} */

#spanTextInfoCard {
  font-weight: 600;
  font-size: 10px;
}
.infoLegend {
  
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    padding: 0em 1em 1em 2em;

  
}
.infoLegendPieChart {
  
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  padding: 0em 1em 1em 1em;

}

.titleTextLegend {
  font-size: 11px;
  width:116px;
  font-weight:600;
  color: #232A38;
}



.MuiTablePagination-select {
  width: 45px !important;
  height: 30px !important;
  border-radius: 20px !important;
}
.Component-paginationSelectRoot-4 {
  border-radius: 20px !important;
}

.accordion-item:last-of-type {
  border-bottom-right-radius: 3rem;
  border-bottom-left-radius: 3rem;
}

.accordion-item:first-of-type {
  border-top-left-radius: 3rem;
  border-top-right-radius: 3rem;
}


.titlesInfoCard {
  margin-bottom: 0;
}

#spanTextInfoCard {
  font-weight: 600;
}

.card-category {
  font-size: 11px !important;
  font-weight: 400 !important;
  color:#858F99;

}

.textInfoCard {
  font-weight: 400;
  font-style: normal;
}

.accordion-item:last-of-type .accordion-button.collapsed:hover {
  background-color:#06cbc1;
  color:#ffff;
}

#ordersGraphText {
  text-transform: lowercase !important;
}

/* Modal Compartir Reporte */
.Modal_modal__4DXUe {
  top:5vh !important;
  /* left:25% !important; */
}

@media screen and (max-width:320px) { 

  input[type="text"], input[type="number"] {
    width: 100px !important;
  }

  .MuiInput-root,
  .MuiInputBase-root {
    width: 215px !important;
  }
  #FiltersInDesktop {
    display: none;
  }

  #ReportInformationDesktop {
    display:none;
  }
  
  #bttnGeneral {
    width: 100px !important;
    height: 30px !important;
    border-radius: 10px !important;
  }  

  #textBttnGeneral {
    font-size: 10px !important;
    margin-top:5px !important;
  }

  #datepickerCalendar {
    background-position: 7em !important;
  }

  .infoLegend {
  
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    padding: 0em 1em 1em 0em;
  
}
.infoLegendPieChart {
  
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  padding: 0em 1em 1em 0em;

}
.bttnSiguienteReporte,
.bttnCompartirReporte {
  display:none;
}

.bttnCompartirReporte:hover {
  background-color: #06cbc1 !important;
  color: #FFFFFF !important;
}

#bttnSubmit:hover {
  background-color: #06cbc1 !important;
  color: #FFFFFF !important;
}
#titleReportCardMobile {
  font-size: 7px !important;
  width:180em !important;
}
#numberReportCardMobile {
  font-size: 7px !important;
}
}

@media screen and (min-width:321px) and (max-width:375px) { 

  input[type="text"], input[type="number"] {
    width: 140px !important;
  }

  #titleReportCardMobile {
    font-size: 9px !important;
     width:100em !important;
  }
  #numberReportCardMobile {
    font-size: 10px !important;
  }

  .MuiInput-root,
  .MuiInputBase-root {
    width: 300px !important;
  }
  #FiltersInDesktop {
    display: none;
  }

  #ReportInformationDesktop {
    display:none;
  }
  
  #bttnGeneral {
    width: 100px !important;
    height: 30px !important;
    border-radius: 10px !important;
  }  

  #textBttnGeneral {
    font-size: 10px !important;
    margin-top:5px !important;
  }

  #datepickerCalendar {
    background-position: 7rem !important;
  }

  .infoLegend {
  
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    padding: 0em 1em 1em 0em;
  
}
.infoLegendPieChart {
  
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  padding: 0em 1em 1em 0em;


}
.bttnSiguienteReporte,
.bttnCompartirReporte {
  display:none;
}
}

@media screen and  (min-width: 376px) and (max-width:767px)  {

  #FiltersInDesktop {
    display: none;
  }

  #ReportInformationDesktop {
    display:none;
  }

  #colReportDatosGenerales,
  #colReportClientExperience,
  #colReportOrderProcessing,
  #colReportOrderFulfillment {
    height: 380px !important;
    width:100% !important;
  }
  
  #bttnGeneral {
    width: 100px !important;
    height: 30px !important;
    border-radius: 10px !important;
  }  

  #textBttnGeneral {
    font-size: 10px !important;
    margin-top:5px !important;
  }

  #datepickerCalendar {
    background-position: 8rem !important;
  }

  input[type="text"], input[type="number"] {
    width: 165px !important;
  }

  .MuiInput-root {
    width: 340px !important;
  }

  .infoLegend {
  
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    padding: 0em 1em 1em 0em;
    margin-left:2em;
  
}
.infoLegendPieChart {
  
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  padding: 0em 1em 1em 0em;
  margin-left:2em;

}
.titleTextLegend {
  font-size: 9px !important;
}

.bttnSiguienteReporte,
.bttnCompartirReporte {
  display:none;
}
}

@media screen and (min-width:768px) and (max-width:1023px) {
.bttnSiguienteReporte,
.bttnCompartirReporte {
  display:none;
}
}

@media screen and (min-width:768px) {



  input[type="text"], input[type="number"] {
    width: 193px !important;
  }

  .MuiInput-root {
    width: 193px !important;
  }

  #datepickerCalendar {
    background-position: 10rem !important;

  }

  #FiltersInMobile {
    display:none;
  }

  #ReportInformationMobile {
    display: none;
  }
  .infoLegend {
  
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    padding: 0em 1em 1em 0em;
  
}
.infoLegendPieChart {
  
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  padding: 0em 1em 1em 3em;

}
#barChartCustom {
  width: 666px !important;
  height: 224px  !important;
}

  #colReportDatosGenerales,
  #colReportClientExperience,
  #colReportOrderProcessing,
  #colReportOrderFulfillment {
    width: 710px !important;
  }

  .titlesInfoCard {
    font-size: 12px !important;
  }

  #textNameTable {
    font-size: 18px !important;
  }

  .textInfoCard {
    font-size: 14px !important;
  }

  #spanTextInfoCard {
    font-size: 12px !important;
  }

  #textListoParaDespacho {
    font-size: 11px !important;
  }


}

@media screen and (min-width:1024px) and (max-width:1439px) {


  #colReportDatosGenerales,
  #colReportClientExperience,
  #colReportOrderProcessing,
  #colReportOrderFulfillment {
    width: 100% !important;

  }
  #textNameTable {
    font-size: 17px !important;
  }
  .titlesInfoCard {
    font-size: 12px !important;
  }
  .textInfoCard {
    font-size: 18px !important;
  }

  #spanTextInfoCard {
    font-size: 12px !important;
  }

  #textListoParaDespacho {
    font-size: 12px !important;
  }

  #ColPieChart {
    width: 41%;
    
  }
  #ColMixedChart {
    width: 59%;
  }
  #barChartCustom {
    width: 350px !important;
    height: 160px  !important;
  }
  .infoLegendPieChart {
  
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0px;
    padding: 0em 1em 1em 0em;
  
  }
  .infoLegend {
  
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    padding: 0em 1em 1em 2em;
  
}
.titleTextLegend {
  font-size: 9px;
  width:116px;
  font-weight:600;
  color: #232A38;
}
#pieChartCard {
  width:370px !important;
  height: 460px !important;
}

}

@media screen and (min-width:1440px) {


  #colReportDatosGenerales,
  #colReportClientExperience,
  #colReportOrderProcessing,
  #colReportOrderFulfillment {
    width: 1210px !important;
    height: 190px !important;
  }

  .titlesInfoCard {
    font-size: 20px !important;
  }
  .card .card-body {
    padding: 31px 15px 10px 15px;
  }
  
  .textInfoCard {
    font-size: 20px !important;
  }
  #barChartCustom {
    width: 480px !important;
    height: 210px  !important;
  }
  #mixedChartCustom {
    height: 95% !important;
  }

  #spanTextInfoCard {
    font-size: 14px !important;

  }

  #textListoParaDespacho {
    font-size: 20px !important;
  }
  .infoLegend {
    padding: 22px 15px 0px 30px !important;
    grid-template-columns: repeat(3, 1fr);
  }
  .infoLegendPieChart {
  
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    padding: 0em 1em 1em 0em;
  
  }
  .titleTextLegend {
    font-size: 12px;
    width:116px;
    font-weight:600;
    color: #232A38;
  }
  #pieChartCard {
    height: 550px !important;
    width: 492px !important;
  }
}

@media screen and (min-width:2560px) {

  #colReportDatosGenerales, #colReportClientExperience, #colReportOrderProcessing, #colReportOrderFulfillment {
    width:2400px !important;
  }

  #textNameTable {
    font-size: 30px !important;
  }  

  .titlesInfoCard {
    font-size: 30px !important;
    width:330px !important;
  }

  #textListoParaDespacho {
    font-size: 30px !important;
    width: 380px !important;
  }

  .textInfoCard {
    font-size: 30px !important;
  }

  #pieChartCard {
    height: 870px !important;
    width: 700px !important;
  }
  #barChartCustom {
    width: 600px !important;
    height: 490px  !important;
  }
  .infoLegend {
    padding: 22px 15px 0px 30px !important;
    grid-template-columns: repeat(4, 1fr);
  }
  .infoLegendPieChart {
  
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    padding: 0em 1em 1em 0em;
  
  }
}

