body {
  background: transparent !important;
}

.textProfile,
.textCompany {
  color: white !important;
  font-weight: 500;
  font-size: 12px;
}
.btn {
  border-radius: 33px !important;
  text-transform: none !important;
 
}

.Button:hover {
  background-color:#06cbc1;
}

a.Button a:hover{
  background: #06cbc1 !important;
}


#bttnSubmit:hover {
  background-color: #06cbc1 !important;
}

.ii a[href] {
  color: white !important;
}

a[href] {
  color:white !important;
}

.button {
color: white !important;
}

.sidebar .nav p, .off-canvas-sidebar .nav p {
  text-transform: none;
  font-weight: 500 !important;
}

.react-datepicker-popper {
  z-index: 9999 !important;
}

.react-datepicker__input-container {
  border-radius: 10px !important;
  margin-left: 1em;
}

.MuiSelect-select.MuiSelect-select {
  padding-right: 24px;
  border-radius: 14px;
  background-color: white;
  box-shadow: 0px 4px 60px rgb(122 122 122 / 12%);
  box-shadow: 0 6px 10px -4px rgb(0 0 0 / 15%);  

}

.MuiMenu-paper {
  border-radius: 12px !important;
}

.input {
  border-radius: 12px !important;
}

#minimizeSidebar {
  background-color: rgba(0, 0, 0, 0) !important;
  backdrop-filter: blur(4px) !important;
}

.MuiTableSortLabel-root.MuiTableSortLabel-active,
.MuiTableSortLabel-icon {
  color: white !important;
}

.MuiTableSortLabel-root {
  width: 12em !important;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.MuiInput-root {
  margin-right: 1em !important;
}

.MuiInputAdornment-positionEnd {
  display: none !important;
}

.MuiIconButton-colorInherit {
  color: #06cbc1 !important;
}

.MuiIconButton-label {
  color: #5cb7b7 !important;
}

.navbar-toggler-bar {
  background-color: #1d308e !important;
}

.navbar-transparent {
  border-bottom: 0px !important;
}

#mtdiTableBackground {
  background-color: transparent !important;
  margin-top:5em;
}

.MuiSelect-icon {
  color: black !important;
  margin-top: 0px !important;
}

.MuiInput-underline:after {
  border-bottom: 0px solid rgba(0, 0, 0, 0.42) !important;
}

.MuiInput-underline:before {
  border-bottom: 0px solid rgba(0, 0, 0, 0.42) !important;
}

.navbar-toggler {
  box-shadow:0 0 0 0 !important;
  border: 0px !important;
}
.navbar-toggler:focus {
  box-shadow:0 0 0 0.0rem !important;
}

.navbar .navbar-toggler .navbar-toggler-bar.navbar-kebab {
  display:none !important;
}

.sidebar .nav i {
  color: white !important;
}

.button .input {
  border-radius: 17px !important;
}

input[type="text"],
input[type="number"] {
  -webkit-border-radius: 17px;
  -moz-border-radius: 17px;
  border-radius: 17px;
  border: 1px solid white;
  color: black;
  width: 100px;
  height: 24px;
  padding-left: 10px;
  font-size: 10px;
  cursor: pointer;
  margin-top:2px;
  box-shadow: 0 6px 10px -4px rgb(0 0 0 / 15%);
  
}

input[type="text"]::placeholder {
  /* background-image: url(../img/DatePickerIcon.png) !important; */
  background-size: 15px 15px !important;
  background-repeat: no-repeat !important;
  background-position: 4rem center !important;
}


input[type="text"]:focus {
  outline: none;
  border: 1px solid white;
  color: black;
  margin-top:2px;
  box-shadow: 0 6px 10px -4px rgb(0 0 0 / 15%);
 
}



.MuiSelect-nativeInput {
  opacity: inherit !important;
  border: none !important;
  /* width: 78% !important; */
  left: 0px !important;
  border-radius: 8px !important;
  bottom: 5px !important;
  padding: 2px 0px 1px 9px;
}

#logoutButton {
  background: #06cbc1;
  border-radius: 20px;
  width: 230px;
  height: 76px;
  font-weight: 700;
  color: white;
  align-items: center;
  margin-top: 10em;
  margin-left: 0.5em;
}

.logoutButtonMini {
  background: #06cbc1;
  border-radius: 14px;
  width: 50px;
  height: 50px;
}

.MuiPaper-root {
  font-size:12px;
}

.logo {
  margin-top: 1em;
  margin-bottom: 1em;
}

.refreshButton {
  width: 52px;
  height: 52px;
  border-radius: 20px;
  margin-left: 1em;
}

.MuiSelect-select:focus {
  border-radius: 14px !important;
  background-color: white !important;
}

.MuiTable-root {
  display: block !important;
}
.form-control {
  background-color: white !important;
}


.modal-header {
  border-bottom: 0 none !important;
  height: 50px;
}

.custom-modal-style {
  width: 200px;
  height: 200px;
  background-color: blue;
}
.MuiPaper-rounded {
  border-radius: 20px !important;
}

.sc-bkkeKt, .ezNeFY {
  color:"black" !important;
  font-size: "12px" !important;
  font-weight: "800" !important;

}

.spinner-border {
  margin-top:2em;
  margin-bottom:2em;

}

.table {
border-collapse: inherit !important;
}

/* Accordion Button  */
.accordion-button {
  text-align: center !important;
  display: block !important;
}

.accordion-item:last-of-type .accordion-button.collapsed {
  background-color: #1D308E;
  color: white;
  border-radius: 22px !important;
  font-size: 12px;
  height: 50px;
}
.accordion-button::after {
  background-image: none !important;
}
.text-left {
  width:120px;
}

.MuiButtonBase-root {
  color: white !important;
}

.MuiMenuItem-root {
  color: rgba(0, 0, 0, 0.72) !important;
}

.accordion-button:not(.collapsed) {
  background-color: #06cbc1 !important;
  border-radius: 22px !important;
  color:#1D308E !important;
  font-size: 12px !important;
}

.MuiTableCell-head {
  color:white !important;
}

[data-rbd-drag-handle-context-id="1"] {
-webkit-tap-highlight-color: white !important;
touch-action: manipulation;

}

.accordion-item {
  border: none !important;
}


.bttnSeeMore {
  display:flex !important;
  justify-content: flex-end !important;

}

.bttnTour {
  display:flex !important;
  justify-content: flex-end !important;

}

.MuiCheckbox-colorSecondary.Mui-checked {
  color: #06cbc1 !important;
}

.contenedor-modal {
  border-radius: 20px;
}

.helper {
  --reactour-accent: #5cb7b7 !important;
  line-height: 1.3 !important;
  color: #2d2323 !important;
  border-radius: 22px !important;
}

.mask {
  border-radius: 22px !important;
}
.MuiTableSortLabel-icon {
  opacity: 50 !important;
  font-size: 14px;
}

.MuiTableSortLabel-iconDirectionAsc {
color: white !important;
}

.MuiTableSortLabel-iconDirectionDesc {
  color: white !important;
}

.MuiTableSortLabel-icon {
    color: white !important;
}
/* 
PROBANDO */

.panel-wrap {
  margin-bottom: 5px;
}

.panel-wrap.active-panel .panel-header {
  background: #396ea5;
}
.panel-wrap.active-panel .panel-header button {
  color: #ffffff;
}

.panel-header {
  border: 1px solid #cccc;
  font-weight: normal;
  border-radius: 5px 5px 0px 0px;
}

.panel-header button {
  border: none;
  background: transparent;
}
.panel-header button:focus {
  outline: 0px auto -webkit-focus-ring-color;
}

.panel-body {
  border: 1px solid #dddddd;
  background: #efefef;
  color: #333333;
  padding: 5px;
  border-top: none;
}

/* MEDIA QUERIES */

@media screen and (max-width:321px) {

  .mtdi-table_greyIcon__wYyBW {
    padding: 6px !important;
  }
  
  .mtdi-table_noIcon__1AJ-3 {
    padding: 6px !important;
  }

  #fechaDesde {
    margin-top:1em !important;
  }

  #fechaHasta {
    margin-top:1em !important;
  }

  #spinner {

    margin-left:0em;

  }
}

@media screen and (max-width:375px) {
  #spinner {

    margin-left:1em;

  }
 }

 @media screen and (max-width:425px) {
  #spinner {
    margin-left:2em;


  }
 }


@media screen and (max-width:767px) {

  /*MTDI-TABLE */

  #OrderDesktopTable {
    display:none;
  }

  .select-tienda-official {
    margin-left:10px;
  }

  .navigation-index {
    display: none !important;
  }
  #fechaDesde {
    margin-top:1em !important;
  }

  #fechaHasta {
    margin-top:1em !important;
  }
}

@media screen and (min-width:768px) {

  /*MTDI-TABLE */

  #OrderMobileCard {
    display:none;
  }

}