#select-checkbox-enterprise {
    box-shadow: none !important;
}

.css-yk16xz-control {
    border-radius: 10px !important;
}

.css-1rhbuit-multiValue {
    border-radius: 10px !important;
}

.css-b8ldur-Input {
    display:none;
}
.css-g1d714-ValueContainer {
    overflow: visible !important;
}