@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');

@font-face {
  font-family: 'SFUIDisplay';
  font-weight:400;
  src: local('SFUIDisplay'), url(../../../assets/fonts/SFUIDisplay-regular.otf);
}
@font-face {
  font-family: 'SFUIDisplay';
  font-weight: lighter;
  src: local('SFUIDisplay'), url(../../../assets/fonts/SFUIDisplay-light.otf);
}
@font-face {
  font-family: 'SFUIDisplay';
  font-weight: bold;
  src: local('SFUIDisplay'), url(../../../assets/fonts/SFUIDisplay-bold.otf);
}
@font-face {
  font-family: 'SFUIDisplay';
  font-weight: bolder;
  src: local('SFUIDisplay'), url(../../../assets/fonts/SFUIDisplay-black.otf);
}
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'SFUIDisplay', 400, sans-serif;
}
.backgroundImage {
  background-image: url(../../../assets/img/bg/bg_onboarding.png);
  background-repeat: no-repeat;
  background-size: 100% 50%;
  height: 100%;
  width: 100%;
  display: table;
  overflow-x: hidden;
}

.titleFont {
  font-family: 'SFUIDisplay' !important;
  font-weight: bold;
}
.titleBox {
margin-top: 6em !important; 
display: flex;
justify-content: center;
margin-bottom: 4em !important;
}

.titleLabel {
  font-family: 'SFUIDisplay' !important;
  font-weight: bold;
  font-size: 14px;
}
.welcomeText {
  font-size: 22px;
  font-family: 'SF UI Display';
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  color: rgba(35, 42, 56, 0.73);
}

.titleNameUser {
  font-family: 'SF UI Display';
  font-style: normal;
  font-weight: 900;
  font-size: 46px;
  line-height: 55px;
  color: #232A38;
}

.bttnSiguiente {
  width: 303px;
  height: 75px;
  left: 532px;
  top: 1238px;
  background: #1D308E !important;
  color: white !important;
  box-shadow: 0px 4px 60px rgba(29, 48, 142, 0.25);
  border-radius: 20px;
}

.bttnSiguiente:hover {
  background: #06CBC1 !important;
  color: #1D308E !important;
}