* {
  margin: 0;
  padding: 0;
}
.backgroundImage {
  background-image: url(../../../assets/img/bg/bg_onboarding.png);
  background-repeat: no-repeat;
  background-size: 100% 50%;
  height: 100%;
  width: 100%;
  display: table;
  overflow-x: hidden;
}

.titleBox {
margin-top: 10em !important; 
font-family: 'SF UI Display';
display: flex;
justify-content: center;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 29px;

}